* {
  margin: 0;
}
.layout{
  display: flex;
  min-height: 100vh;
  flex-direction: column; /* Changed to row to allow wrapping */
  
  
}
.header {
  
  width: 100%;
  height: 60px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  
  width: 100%;
  height: 60px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
  p {
    font-weight: bold;
  }
  p:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
  }
  p:active {
    transform: scale(0.98);
  }
  h3:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
  }
  h3:active {
    transform: scale(0.98);
  }
}



.pagina {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  
  form {
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    button {
      margin-left: 10px;
    }
  }
  p {
    text-align: center;
  }
}
